mixin artist-card(name, url, description)
    li(class="artists__slider__artist") 
        h3!= name 
        figure 
            img(src=url, alt=name, title=name)
            figcaption!= description