mixin work-card(url, year, title, video)
    a(href= video, class="works__works__slider__work") 
        figure 
            img(src=url, title=title, alt=title)
            figcaption
                h3= title 
                p= year         