mixin work-card(url, year, title, video)
    a(href= video) 
        figure 
            img(src=url, title=title, alt=title)
            figcaption
                h3= title 
                p= year   